@keyframes rollCard {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes wave {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0.7rem);
        filter: hue-rotate(360deg);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen and (max-width: 600px) {
    @keyframes wave {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(0.7rem);
            filter: hue-rotate(0deg);
        }
        100%{
            transform: translateY(0);
        }
    }
}